@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>simple ASP.NET MVC for college.</p>
    <a asp-controller="Home" asp-action="Profile" class="btn btn-primary">Student profile</a>
    <a asp-controller="Units" asp-action="Index" class="btn btn-primary">Units</a>
</div>
